@charset "UTF-8";

.left_nav ul {
    list-style: none;
    background-image: none;
    padding: 0;
}

.left_nav ul li {
    border-style: solid none;
    border-width: 0 0 1px 0;
}

.left_nav ul li a {
    text-decoration: none;
    color: #d6d9db;
    padding-left: 15px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.left_nav ul li a:hover {
    background-color: #1abc9c;
}

.left_nav ul li i {
    color: #d6d9db;
    width: 100%;
    height: 100%;
}